# Log File Cleaning Framework

### Following topics covered:

1. Import essential Libraries
2. Accept Log File in Pandas Dataframe
    - a. Reading one log file.
    - b. Reading multiple log files
3. Display, Describe, Info of Dataframe    
4. Drop column by name, Id, batches.
5. Drop row by index or batches.
6. Dividing a column using a delimiter.
7. Clean column data extract clean numerical or string values.
    - a. Single Column
    - b. In a batch
8. Filter dataframe to have rows satisfying particular condition
9. Save CSV File

### 1. Import essential libraries

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns #used for making graphs 
import glob
%matplotlib inline

## 2. Accept Log File

### 2A. Method 1: Reading a log file

In [2]:
df=pd.read_csv('LogFile1.csv', delimiter=' ', error_bad_lines=False, nrows=30000,names = ["Date", "Time,ID", "BasketType", "Rt", "EasyId", "OrderNum", "Myxyzcompany", "Shop_Id", "Item_Id","Timesale"])
#Replace 'Logfile1.csv' with your lof file name
#Delimiter defines how are columns are spaced from each other
#Bad lines ignores errors while reading
#Nrows limits number of rows to accept
#Replace names with column names. Use it only if you do not have headers in log file.

### 2B. Method 2: Reading multiple log files

In [3]:
path =r'./' # use your path where log files are present
allFiles = glob.glob(path + "/*.csv")  #Note: Log files should have "csv" extension
dfm = pd.DataFrame()
list_ = []
for file_ in allFiles:
    dftemp = pd.read_csv(file_,delimiter=' ',names = ["Date", "Time,ID", "BasketType", "Rt", "EasyId", "OrderNum", "Myxyzcompany", "Shop_Id", "Item_Id","Timesale"])
    list_.append(df)
dfm = pd.concat(list_)
dfm=dfm.reset_index(drop=True)

## 3. Display a dataframe, info and describe:

#### Type in dataframe name and execute to see columns and the extent of number of rows.

In [4]:
dfm
#dfm.head(10)  USE '.head()' to limit the number of rows to display.

,Date,"Time,ID",BasketType,Rt,EasyId,OrderNum,Myxyzcompany,Shop_Id,Item_Id,Timesale
0,2018-03-03,"00:00:01,156",BASKET_TRACKING[ADDITEM],Rt=58adbbf55150081dda63654d83f2b1a2,easy_id=312822299,order_number=null,myxyzcompany=false,shop_id=275957,item_id=10000350,NaN
1,2018-03-03,"00:00:01,879",BASKET_TRACKING[ADDITEM],Rt=d6646cead96816d413e303b2e73767dd,easy_id=71079541,order_number=null,myxyzcompany=false,shop_id=201534,item_id=10093616,NaN
2,2018-03-03,"00:00:01,885",BASKET_TRACKING[ADDITEM],Rt=128a0ea9f37eaddd2fad2632ce5ddbca,easy_id=396332517,order_number=null,myxyzcompany=false,shop_id=260269,item_id=10003267,NaN
3,2018-03-03,"00:00:03,133",BASKET_TRACKING[METHOD],Rt=12ba58d0948dcb3dcae5fd279dc0b7b5,easy_id=0,order_number=null,myxyzcompany=false,shop_id=249547,"item_id=10018138,10018140,10017912,10017940,10...",NaN
4,2018-03-03,"00:00:04,252",BASKET_TRACKING[ADDITEM],Rt=185e0b7b77a428a0da63f5e139be1e54,easy_id=0,order_number=null,myxyzcompany=false,shop_id=221018,"item_id=10081918,10081911,10081907,10081921,10...",NaN
5,2018-03-03,"00:00:04,340",BASKET_TRACKING[ORDERSTEP],Rt=d6646cead96816d413e303b2e73767dd,easy_id=71079541,order_number=null,myxyzcompany=false,shop_id=201534,item_id=10093616,NaN
6,2018-03-03,"00:00:05,250",BASKET_TRACKING[CONFIRM],Rt=b304916c9dc18d4b79e4cdee0a06d5e2,easy_id=3365243,order_number=null,myxyzcompany=true,shop_id=248950,"item_id=10000135,10000135,10000135",NaN
7,2018-03-03,"00:00:05,877",BASKET_TRACKING[ADDRESSEE],Rt=1c5646891d4d0d5e7195d31d4a1da4a7,easy_id=213860691,order_number=null,myxyzcompany=true,shop_id=198667,item_id=10000074,NaN
8,2018-03-03,"00:00:06,733",BASKET_TRACKING[ORDERSTEP],Rt=8e0b35069543324409c726bb094e2b76,easy_id=312879561,order_number=null,myxyzcompany=false,shop_id=264575,"item_id=10003092,10003561",NaN
9,2018-03-03,"00:00:07,660",BASKET_TRACKING[ADDITEM],Rt=103eecc3fb3d7609baca24a6cc8d0bbe,easy_id=348310096,order_number=null,myxyzcompany=false,shop_id=218122,item_id=10008034,NaN
10,2018-03-03,"00:00:07,925",BASKET_TRACKING[ADDITEM],Rt=7af4fcf89d9f32ea6bfbfab6b7d428bc,easy_id=47407491,order_number=null,myxyzcompany=false,shop_id=207677,item_id=10083495,timesale
11,2018-03-03,"00:00:08,945",BASKET_TRACKING[CONFIRM],Rt=4b813478384b2fc1dd7e68dafe2711e4,easy_id=308607295,order_number=null,myxyzcompany=true,shop_id=257005,item_id=10000823,NaN
12,2018-03-03,"00:00:09,008",BASKET_TRACKING[CONFIRM],Rt=d6646cead96816d413e303b2e73767dd,easy_id=71079541,order_number=null,myxyzcompany=true,shop_id=201534,item_id=10093616,NaN
13,2018-03-03,"00:00:10,368",BASKET_TRACKING[CONFIRM],Rt=12ba58d0948dcb3dcae5fd279dc0b7b5,easy_id=0,order_number=null,myxyzcompany=false,shop_id=249547,"item_id=10018138,10018140,10017912,10017940,10...",NaN
14,2018-03-03,"00:00:11,142",BASKET_TRACKING[ORDERSTEP],Rt=7c5b358cf152d58d5945e66b355ab730,easy_id=350063474,order_number=null,myxyzcompany=false,shop_id=318302,item_id=10000004,NaN
15,2018-03-03,"00:00:12,693",BASKET_TRACKING[ORDERSTEP],Rt=c2fdeb48a5f2967fa9f81fe929d3ea8f,easy_id=220617061,order_number=null,myxyzcompany=false,shop_id=238027,item_id=10225272,NaN
16,2018-03-03,"00:00:12,761",BASKET_TRACKING[CONFIRM],Rt=0536909ee222359f28544b5e7ff0f4c2,easy_id=55896901,order_number=null,myxyzcompany=true,shop_id=227869,item_id=10021693,NaN
17,2018-03-03,"00:00:13,276",BASKET_TRACKING[CONFIRM],Rt=96c303c39f986dc3461427019bcbcfba,easy_id=347834126,order_number=null,myxyzcompany=true,shop_id=251356,"item_id=10004566,10004574,10004574",timesale
18,2018-03-03,"00:00:13,883",BASKET_TRACKING[ORDERSTEP],Rt=3853b513f90851c4414da6e39361e42d,easy_id=0,order_number=null,myxyzcompany=false,shop_id=304818,item_id=10000004,NaN
19,2018-03-03,"00:00:14,511",BASKET_TRACKING[ORDERSTEP],Rt=0387dca534300a74edce229b233bfc48,easy_id=0,order_number=null,myxyzcompany=false,shop_id=202714,"item_id=10001262,10000057,10000057,10000638,10...",timesale
20,2018-03-03,"00:00:14,960",BASKET_TRACKING[ADDITEM],Rt=7af4fcf89d9f32ea6bfbfab6b7d428bc,easy_id=47407491,order_number=null,myxyzcompany=false,shop_id=207677,"item_id=10083495,10083495",timesale
21,2018-03-03,"00:00:16,465",BASKET_TRACKING[ADDITEM],Rt=dd07685b79839e0b18d5696d8d96ed67,easy_id=388233081,order_number=null,myxyzcompany=false,shop_id=204066,item_id=10032987,NaN
22,2018-03-03,"00:00:16,500",BASKET_TRACKING[CONFIRM],Rt=1fc4a60ca93468287c653b5d9dd7164c,easy_id=6508363,order_number=null,myxyzcompany=true,shop_id=311059,"item_id=10000865,10003292,10000072,10000013",NaN
23,2018-03-03,"00:00:17,120",BASKET_TRACKING[CONFIRM],Rt=103eecc3fb3d7609baca24a6cc8d0bbe,easy_id=348310096,order_number=null,myxyzcompany=true,shop_id=218122,item_id=10008034,NaN
24,2018-03-03,"00:00:17,460",BASKET_TRACKING[ADDRESSEE],Rt=8e0b35069543324409c726bb094e2b76,easy_id=312879561,order_number=null,myxyzcompany=true,shop_id=264575,"item_id=10003092,10003561",NaN
25,2018-03-03,"00:00:18,464",BASKET_TRACKING[ORDER],Rt=1ba31a29fbb183592f2debef5c1648f7,easy_id=71724342,order_number=206873-20180303-00049813,myxyzcompany=true,shop_id=206873,item_id=11343409,NaN
26,2018-03-03,"00:00:18,895",BASKET_TRACKING[ORDER],Rt=1ba31a29fbb183592f2debef5c1648f7,easy_id=71724342,order_number=206873-20180303-00049813,myxyzcompany=true,shop_id=206873,item_id=11343409,NaN
27,2018-03-03,"00:00:18,899",BASKET_TRACKING[ORDER],Rt=1ba31a29fbb183592f2debef5c1648f7,easy_id=71724342,order_number=206873-20180303-00049813,myxyzcompany=true,shop_id=206873,item_id=11343409,NaN
28,2018-03-03,"00:00:18,902",BASKET_TRACKING[ORDER],Rt=1ba31a29fbb183592f2debef5c1648f7,easy_id=71724342,order_number=206873-20180303-00049813,myxyzcompany=true,shop_id=206873,item_id=11343409,NaN
29,2018-03-03,"00:00:18,932",BASKET_TRACKING[ADDITEM],Rt=185e0b7b77a428a0da63f5e139be1e54,easy_id=0,order_number=null,myxyzcompany=false,shop_id=221018,"item_id=10081909,10081918,10081907,10081921,10...",NaN
...,...,...,...,...,...,...,...,...,...,...
89970,2018-03-03,"10:23:33,939",BASKET_TRACKING[ORDER],Rt=944bd2b668400c9407998cc0af660df5,easy_id=4371248,order_number=311303-20180303-00068829,myxyzcompany=true,shop_id=311303,"item_id=10000053,10000053",NaN
89971,2018-03-03,"10:23:34,323",BASKET_TRACKING[CONFIRM],Rt=d3d7f5ea44aa25290afe9c86a1ab0d34,easy_id=74272821,order_number=null,myxyzcompany=true,shop_id=235507,item_id=10268181,NaN
89972,2018-03-03,"10:23:34,707",BASKET_TRACKING[CONFIRM],Rt=424b6583b15ced70968a278c1ea6f638,easy_id=2863164,order_number=null,myxyzcompany=true,shop_id=298078,item_id=10000011,NaN
89973,2018-03-03,"10:23:35,309",BASKET_TRACKING[ORDERSTEP],Rt=58c12454cf9dc1ea218666ca88b6c11f,easy_id=2045962,order_number=null,myxyzcompany=false,shop_id=231334,item_id=10000340,timesale
89974,2018-03-03,"10:23:35,534",BASKET_TRACKING[ADDRESSEE],Rt=dae5e13b751c5c4474a0c2cf0a900672,easy_id=3733619,order_number=null,myxyzcompany=true,shop_id=261461,item_id=10002097,NaN
89975,2018-03-03,"10:23:35,840",BASKET_TRACKING[ORDER],Rt=916621ae54702561c0d08787d68314fe,easy_id=10721471,order_number=273887-20180303-00027810,myxyzcompany=true,shop_id=273887,"item_id=10000073,10000057,10000013,10000007",NaN
89976,2018-03-03,"10:23:35,914",BASKET_TRACKING[ADDITEM],Rt=9af2b3023dccefa53652f810d6bd083f,easy_id=0,order_number=null,myxyzcompany=false,shop_id=228897,item_id=10000180,NaN
89977,2018-03-03,"10:23:36,786",BASKET_TRACKING[ADDITEM],Rt=517a6afcbde36c23077dae82980d5938,easy_id=328815367,order_number=null,myxyzcompany=false,shop_id=232965,item_id=10021144,NaN
89978,2018-03-03,"10:23:36,838",BASKET_TRACKING[CONFIRM],Rt=74fdee91ac912e55d92e396034c3081f,easy_id=327740978,order_number=null,myxyzcompany=true,shop_id=256747,item_id=10121119,timesale
89979,2018-03-03,"10:23:37,171",BASKET_TRACKING[ADDITEM],Rt=dae5e13b751c5c4474a0c2cf0a900672,easy_id=3733619,order_number=null,myxyzcompany=false,shop_id=261461,item_id=10002097,NaN
89980,2018-03-03,"10:23:37,631",BASKET_TRACKING[ORDERSTEP],Rt=4978b6a826cbf1c340ff545233710c01,easy_id=1086246,order_number=null,myxyzcompany=false,shop_id=248288,item_id=10056337,NaN
89981,2018-03-03,"10:23:39,064",BASKET_TRACKING[ADDITEM],Rt=5ad53b1f5c274696b4cb0044d9d0f2f8,easy_id=206387941,order_number=null,myxyzcompany=false,shop_id=203677,item_id=10879341,NaN
89982,2018-03-03,"10:23:39,227",BASKET_TRACKING[ADDITEM],Rt=5af9f2799e76b7ad36cfc32790a4d80e,easy_id=411103690,order_number=null,myxyzcompany=false,shop_id=193811,item_id=10001851,NaN
89983,2018-03-03,"10:23:40,197",BASKET_TRACKING[ORDER],Rt=327cfbfaff05fa79b22af40ba0acf2f9,easy_id=0,order_number=205871-20180303-00011802,myxyzcompany=false,shop_id=205871,item_id=10000384,NaN
89984,2018-03-03,"10:23:40,393",BASKET_TRACKING[CONFIRM],Rt=b4ebaa563ae677f40cd2ae4fa6a7b37d,easy_id=3045527,order_number=null,myxyzcompany=true,shop_id=234254,item_id=10100024,NaN
89985,2018-03-03,"10:23:40,865",BASKET_TRACKING[ADDITEM],Rt=070186bd474b2308c3e9777f33ee4bd1,easy_id=3352023,order_number=null,myxyzcompany=false,shop_id=282655,"item_id=10056407,10065119,10065134,10065123,10...",NaN
89986,2018-03-03,"10:23:41,095",BASKET_TRACKING[CONFIRM],Rt=8a6de745c75fe475e7b05d5cddd60361,easy_id=211475511,order_number=null,myxyzcompany=true,shop_id=215614,"item_id=10000092,10000033",NaN
89987,2018-03-03,"10:23:41,594",BASKET_TRACKING[ORDER],Rt=327cfbfaff05fa79b22af40ba0acf2f9,easy_id=0,order_number=205871-20180303-00011802,myxyzcompany=false,shop_id=205871,item_id=10000384,NaN
89988,2018-03-03,"10:23:42,164",BASKET_TRACKING[CONFIRM],Rt=58c12454cf9dc1ea218666ca88b6c11f,easy_id=2045962,order_number=null,myxyzcompany=true,shop_id=231334,item_id=10000340,timesale
89989,2018-03-03,"10:23:42,447",BASKET_TRACKING[CONFIRM],Rt=c4920cd97ae7cf8c93e297ac05028063,easy_id=30220422,order_number=null,myxyzcompany=true,shop_id=208080,"item_id=10012626,10012435",timesale
89990,2018-03-03,"10:23:42,795",BASKET_TRACKING[ORDER],Rt=6689790f543b389c212763a66be143a3,easy_id=5336000,order_number=226062-20180303-00082810,myxyzcompany=true,shop_id=226062,item_id=10000235,NaN
89991,2018-03-03,"10:23:43,070",BASKET_TRACKING[CONFIRM],Rt=b8c85cd545b4465bd2e5ae9d80b49040,easy_id=177680892,order_number=null,myxyzcompany=true,shop_id=270768,item_id=10000783,NaN
89992,2018-03-03,"10:23:43,335",BASKET_TRACKING[ORDERSTEP],Rt=517a6afcbde36c23077dae82980d5938,easy_id=328815367,order_number=null,myxyzcompany=false,shop_id=232965,item_id=10021144,NaN
89993,2018-03-03,"10:23:43,696",BASKET_TRACKING[ORDER],Rt=6689790f543b389c212763a66be143a3,easy_id=5336000,order_number=226062-20180303-00082810,myxyzcompany=true,shop_id=226062,item_id=10000235,NaN
89994,2018-03-03,"10:23:44,270",BASKET_TRACKING[ORDERSTEP],Rt=eabcd7fc179b00b3c45bf802ddad5c39,easy_id=422007754,order_number=null,myxyzcompany=false,shop_id=283460,"item_id=10000629,10000618",NaN
89995,2018-03-03,"10:23:44,516",BASKET_TRACKING[ORDER],Rt=d4dd50dd32ed71367b120f65e1bcc1a6,easy_id=6361799,order_number=312751-20180303-00050803,myxyzcompany=true,shop_id=312751,item_id=10000181,NaN
89996,2018-03-03,"10:23:44,681",BASKET_TRACKING[ADDRESSEE],Rt=5cab4da2fb84b3d63b227e75a6afc903,easy_id=319094437,order_number=null,myxyzcompany=true,shop_id=204932,item_id=10062888,NaN
89997,2018-03-03,"10:23:44,806",BASKET_TRACKING[ORDER],Rt=4d25b00b2f02ee337e2c37a99c966fa9,easy_id=394669570,order_number=226290-20180303-00389819,myxyzcompany=true,shop_id=226290,item_id=10000635,NaN
89998,2018-03-03,"10:23:45,086",BASKET_TRACKING[ORDERSTEP],Rt=ebfed750eb8f7cec1a40e913eeb4bffb,easy_id=0,order_number=null,myxyzcompany=false,shop_id=261122,item_id=10321292,NaN
89999,2018-03-03,"10:23:45,571",BASKET_TRACKING[ORDER],Rt=d4dd50dd32ed71367b120f65e1bcc1a6,easy_id=6361799,order_number=312751-20180303-00050803,myxyzcompany=true,shop_id=312751,item_id=10000181,NaN

#### Use '.info()' for column names, datatype and number of objects.

In [5]:
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90000 entries, 0 to 89999
Data columns (total 10 columns):
Date          90000 non-null object
Time,ID       90000 non-null object
BasketType    90000 non-null object
Rt            90000 non-null object
EasyId        90000 non-null object
OrderNum      90000 non-null object
Myxyzcompany     90000 non-null object
Shop_Id       90000 non-null object
Item_Id       90000 non-null object
Timesale      4731 non-null object
dtypes: object(10)
memory usage: 6.9+ MB

#### Use '.describe()' to describe more about values of each column

In [6]:
dfm.describe()

,Date,"Time,ID",BasketType,Rt,EasyId,OrderNum,Myxyzcompany,Shop_Id,Item_Id,Timesale
count,90000,90000,90000,90000,90000,90000,90000,90000,90000,4731
unique,1,29759,8,5139,4781,2862,2,3747,6629,1
top,2018-03-03,"02:01:59,461",BASKET_TRACKING[CONFIRM],Rt=null,easy_id=0,order_number=null,myxyzcompany=true,shop_id=203677,item_id=10000000,timesale
freq,90000,9,28413,1287,8922,60753,63303,1443,327,4731

### 4. Dropping column

In [7]:
dfm.head(1)  #Check column names before dropping

,Date,"Time,ID",BasketType,Rt,EasyId,OrderNum,Myxyzcompany,Shop_Id,Item_Id,Timesale
0,2018-03-03,"00:00:01,156",BASKET_TRACKING[ADDITEM],Rt=58adbbf55150081dda63654d83f2b1a2,easy_id=312822299,order_number=null,myxyzcompany=false,shop_id=275957,item_id=10000350,NaN

In [8]:
# Drop column by name:
dfm=dfm.drop(['Myxyzcompany','Timesale'],axis=1) #Dropped 'Myxyzcompany' and 'Timesale'

#Drop column by column id:
dfm=dfm.drop(dfm.columns[0],axis=1)  #Dropped 'Date'

#Drop multiple columns by column id:
dfm=dfm.drop(dfm.columns[[0,1]],axis=1)  #Dropped 'Time,ID' and 'BasketType'

dfm.head(1)

,Rt,EasyId,OrderNum,Shop_Id,Item_Id
0,Rt=58adbbf55150081dda63654d83f2b1a2,easy_id=312822299,order_number=null,shop_id=275957,item_id=10000350

### 5. Dropping row

In [9]:
#To drop one row:
id=7  #id is the row index
dfm=dfm.drop([id],axis=0)   #Dropped row number '7'


#To drop multiple rows: 
dfm=dfm.drop(range(11,20),axis=0)  #Dropped rows [11,12,13,14,15,16,17,18,19]

In [10]:
dfm=dfm.reset_index(drop=True) #Always use this to reset row index

### 6. Seperate columns into two

#### Problem statement: In 'df' column 'Time,ID' consists of two concatenated values. Lets seperate them into different columns

In [11]:
df.head(1)

,Date,"Time,ID",BasketType,Rt,EasyId,OrderNum,Myxyzcompany,Shop_Id,Item_Id,Timesale
0,2018-03-03,"00:00:01,156",BASKET_TRACKING[ADDITEM],Rt=58adbbf55150081dda63654d83f2b1a2,easy_id=312822299,order_number=null,myxyzcompany=false,shop_id=275957,item_id=10000350,NaN

In [12]:
df['Time'], df['ID'] = zip(*df['Time,ID'].map(lambda x: x.split(',')))

df=df.drop(df.columns[1],axis=1)  #Dropping column 'Time,ID'

In [13]:
df.head(1)  #Check last two new columns

,Date,BasketType,Rt,EasyId,OrderNum,Myxyzcompany,Shop_Id,Item_Id,Timesale,Time,ID
0,2018-03-03,BASKET_TRACKING[ADDITEM],Rt=58adbbf55150081dda63654d83f2b1a2,easy_id=312822299,order_number=null,myxyzcompany=false,shop_id=275957,item_id=10000350,NaN,00:00:01,156

## 7. Clean column data to extract clean values

#### 7A. Problem statement: filter 'EasyId' values to have only numerical value.

In [14]:
df['EasyId'].head(2) #Before Filtering

0    easy_id=312822299
1     easy_id=71079541
Name: EasyId, dtype: object

In [15]:
df['EasyId']=df['EasyId'].str.split('=').str[1]

In [16]:
df['EasyId'].head(2) #Values after filtering.

0    312822299
1     71079541
Name: EasyId, dtype: object

#### 7B. Filter columns in batches:

In [17]:
df.head(1)

,Date,BasketType,Rt,EasyId,OrderNum,Myxyzcompany,Shop_Id,Item_Id,Timesale,Time,ID
0,2018-03-03,BASKET_TRACKING[ADDITEM],Rt=58adbbf55150081dda63654d83f2b1a2,312822299,order_number=null,myxyzcompany=false,shop_id=275957,item_id=10000350,NaN,00:00:01,156

In [18]:
ls=['Rt','Myxyzcompany','OrderNum','Shop_Id','Item_Id']

for x in ls:
    df[x]=df[x].str.split('=').str[1]

In [19]:
df.head(1)
#df['preTestScore'].where(df['postTestScore'] > 50)

,Date,BasketType,Rt,EasyId,OrderNum,Myxyzcompany,Shop_Id,Item_Id,Timesale,Time,ID
0,2018-03-03,BASKET_TRACKING[ADDITEM],58adbbf55150081dda63654d83f2b1a2,312822299,null,false,275957,10000350,NaN,00:00:01,156

## 8. Filter dataframe

#### P.S. : Filter 'df' rows having BasketType as 'Order]' type.

In [20]:
df.head(2)

,Date,BasketType,Rt,EasyId,OrderNum,Myxyzcompany,Shop_Id,Item_Id,Timesale,Time,ID
0,2018-03-03,BASKET_TRACKING[ADDITEM],58adbbf55150081dda63654d83f2b1a2,312822299,null,false,275957,10000350,NaN,00:00:01,156
1,2018-03-03,BASKET_TRACKING[ADDITEM],d6646cead96816d413e303b2e73767dd,71079541,null,false,201534,10093616,NaN,00:00:01,879

In [21]:
df.drop(df.index[~df['BasketType'].str.contains('ORDER]', case=False)],inplace=True)
df=df.reset_index(drop=True)

In [22]:
df.head(2)

,Date,BasketType,Rt,EasyId,OrderNum,Myxyzcompany,Shop_Id,Item_Id,Timesale,Time,ID
0,2018-03-03,BASKET_TRACKING[ORDER],1ba31a29fbb183592f2debef5c1648f7,71724342,206873-20180303-00049813,true,206873,11343409,NaN,00:00:18,464
1,2018-03-03,BASKET_TRACKING[ORDER],1ba31a29fbb183592f2debef5c1648f7,71724342,206873-20180303-00049813,true,206873,11343409,NaN,00:00:18,895

## 9. Save dataframe to CSV file

In [23]:
df.to_csv('CleanedLog.csv', index=False)

In [24]:
df.head()

,Date,BasketType,Rt,EasyId,OrderNum,Myxyzcompany,Shop_Id,Item_Id,Timesale,Time,ID
0,2018-03-03,BASKET_TRACKING[ORDER],1ba31a29fbb183592f2debef5c1648f7,71724342,206873-20180303-00049813,true,206873,11343409,NaN,00:00:18,464
1,2018-03-03,BASKET_TRACKING[ORDER],1ba31a29fbb183592f2debef5c1648f7,71724342,206873-20180303-00049813,true,206873,11343409,NaN,00:00:18,895
2,2018-03-03,BASKET_TRACKING[ORDER],1ba31a29fbb183592f2debef5c1648f7,71724342,206873-20180303-00049813,true,206873,11343409,NaN,00:00:18,899
3,2018-03-03,BASKET_TRACKING[ORDER],1ba31a29fbb183592f2debef5c1648f7,71724342,206873-20180303-00049813,true,206873,11343409,NaN,00:00:18,902
4,2018-03-03,BASKET_TRACKING[ORDER],96c303c39f986dc3461427019bcbcfba,347834126,251356-20180303-00516824,true,251356,"10004566,10004574,10004574",timesale,00:00:21,239

In [25]:
#Mapping? Dummy tables?